<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min14ed.css') }}?v=3.3.6" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">

    <!-- Data Tables -->
    <link href="{{ url_for('static', filename='css/plugins/dataTables/dataTables.bootstrap.css') }}"
          rel="stylesheet">

    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.min862f.css') }}?v=4.1.0" rel="stylesheet">
</head>

<body>
<p style="font-size: 18px; line-height: 1.8; font-weight: 300; font-family: 'Rubik', sans-serif; padding-left: 40px">本次查询用时：{{ time }}s</p>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">

                    <table class="table table-hover dataTables-example" style="table-layout: fixed">
                            <thead>
                            <tr>
                                <th>ID</th>
                                {% for n in col_n %}
                                <th>{{ n }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in items %}
                                <tr class="gradeA">
                                    <td>{{ loop.index }}</td>
                                    {% for col in row %}
                                        <td style="width: 100%; word-break: keep-all; white-space: nowrap; overflow: hidden; text-overflow: ellipsis" title="{{ col }}">
                                            {{ col }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='js/jquery.min.js') }}?v=2.1.4"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}?v=3.3.6"></script>
<script src="{{ url_for('static', filename='js/plugins/jeditable/jquery.jeditable.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/dataTables/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>

<script>
    $(document).ready(function () {
        $(".dataTables-example").dataTable();
        var oTable = $("#editable").dataTable();
        oTable.$("td").editable("http://www.zi-han.net/theme/example_ajax.php", {
            "callback": function (sValue, y) {
                var aPos = oTable.fnGetPosition(this);
                oTable.fnUpdate(sValue, aPos[0], aPos[1])
            }, "submitdata": function (value, settings) {
                return {"row_id": this.parentNode.getAttribute("id"), "column": oTable.fnGetPosition(this)[2]}
            }, "width": "90%", "height": "100%"
        })
    });
</script>

</body>
</html>
